In [3]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 1.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=0ef8c70605da9f28be61776c896b8e8293412a3bcff00966b75a645716ce96bd
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [4]:
#Import statements
from pyspark.sql import SparkSession,Row
from pyspark.sql.functions import col, sum,when,exp
from pyspark.sql import functions as F
from pyspark.sql.window import Window
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer, OneHotEncoder
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import StandardScaler
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.mllib.evaluation import MulticlassMetrics
from pyspark.ml.classification import GBTClassifier
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder
from pyspark.sql.types import StructType, StructField, DoubleType, StringType
from pyspark.ml.functions import vector_to_array
import math
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
seed=99

In [5]:
#Create a Spark session
spark = SparkSession.builder.appName("SuperstoreAnalysis").getOrCreate()
spark.conf.set("spark.sql.legacy.timeParserPolicy", "LEGACY")#Set legacy date parser due to issues with date format in new version

In [7]:
#Read CSV data
superstore_data_path = '/content/drive/My Drive/Colab Notebooks/BDA_Project/superstore_data.csv' #File path
superstore_df = spark.read.csv(superstore_data_path, header=True, inferSchema=True)
superstore_df.show()

+-----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+--------+--------+
|   Id|Year_Birth| Education|Marital_Status|Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProds|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|Response|Complain|
+-----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+--------+--------+
| 1826|      1970|Graduation|      Divorced| 84835|      0|       0|  6/16/2014|      0|     189|      104|            379|            111|             189|         218|                1|              4|                  4|                6|                1|       1|       0|
|    1|      1961|Graduation|        Single| 57091|      0|       0|  6/15/2014|      0|     464|        5|             64|              7|               0|          37|                1|              7|                  3|                7|                5|       1|       0|
|10476|      1958|Graduation|       Married| 67267|      0|       1|  5/13/2014|      0|     134|       11|             59|             15|               2|          30|                1|              3|                  2|                5|                2|       0|       0|
| 1386|      1967|Graduation|      Together| 32474|      1|       1|  11/5/2014|      0|      10|        0|              1|              0|               0|           0|                1|              1|                  0|                2|                7|       0|       0|
| 5371|      1989|Graduation|        Single| 21474|      1|       0|   8/4/2014|      0|       6|       16|             24|             11|               0|          34|                2|              3|                  1|                2|                7|       1|       0|
| 7348|      1958|       PhD|        Single| 71691|      0|       0|  3/17/2014|      0|     336|      130|            411|            240|              32|          43|                1|              4|                  7|                5|                2|       1|       0|
| 4073|      1954|  2n Cycle|       Married| 63564|      0|       0|  1/29/2014|      0|     769|       80|            252|             15|              34|          65|                1|             10|                 10|                7|                6|       1|       0|
| 1991|      1967|Graduation|      Together| 44931|      0|       1|  1/18/2014|      0|      78|        0|             11|              0|               0|           7|                1|              2|                  1|                3|                5|       0|       0|
| 4047|      1954|       PhD|       Married| 65324|      0|       1|  11/1/2014|      0|     384|        0|            102|             21|              32|           5|                3|              6|                  2|                9|                4|       0|       0|
| 9477|      1954|       PhD|       Married| 65324|      0|       1|  11/1/2014|      0|     384|        0|            102|             21|              32|           5|                3|              6|                  2|                9|                4|       0|       0|
| 2079|      1947|  2n Cycle|       Married| 81044|      0|       0| 12/27/2013|      0|     450|       26|            535|             73|              98|          26|                1|              5|                  6|               10|                1|       0|       0|
| 5642|      1979|    Master|      Together| 62499|      1|       0|  9/12/2013|      0|     140|        4|             61|              0|              13|           4|                2|              3|                  1|                6|                4|       0|       0|
|10530|      1959|       PhD|         Widow| 67786|      0|       0|  7/12/2013|      0|     431|       82|            441|             80|              20|         102|                1|              3|                  6|                6|                1|       1|       0|
| 2964|      1981|Graduation|       Married| 26872|      0|       0| 10/16/2013|      0|       3|       10|              8|              3|              16|          32|                1|              1|                  1|                2|                6|       0|       0|
|10311|      1969|Graduation|       Married|  4428|      0|       1|  5/10/2013|      0|      16|        4|             12|              2|               4|         321|                0|             25|                  0|                0|                1|       0|       0|
|  837|      1977|Graduation|       Married| 54809|      1|       1|  11/9/2013|      0|      63|        6|             57|             13|              13|          22|                4|              2|                  1|                5|                4|       0|       0|
|10521|      1977|Graduation|       Married| 54809|      1|       1|  11/9/2013|      0|      63|        6|             57|             13|              13|          22|                4|              2|                  1|                5|                4|       1|       0|
|10175|      1958|       PhD|      Divorced| 32173|      0|       1|   1/8/2013|      0|      18|        0|              2|              0|               0|           2|                1|              1|                  0|                3|                4|       0|       0|
| 1473|      1960|  2n Cycle|        Single| 47823|      0|       1|  7/23/2013|      0|      53|        1|              5|              2|               1|          10|                2|              2|                  0|                3|                8|       0|       0|
| 2795|      1958|    Master|        Single| 30523|      2|       1|   1/7/2013|      0|       5|        0|              3|              0|               0|           5|                1|              1|                  0|                2|                7|       0|       0|
+-----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+--------+--------+
only showing top 20 rows