In [3]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 1.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=0ef8c70605da9f28be61776c896b8e8293412a3bcff00966b75a645716ce96bd
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [4]:
#Import statements
from pyspark.sql import SparkSession,Row
from pyspark.sql.functions import col, sum,when,exp
from pyspark.sql import functions as F
from pyspark.sql.window import Window
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer, OneHotEncoder
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import StandardScaler
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.mllib.evaluation import MulticlassMetrics
from pyspark.ml.classification import GBTClassifier
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder
from pyspark.sql.types import StructType, StructField, DoubleType, StringType
from pyspark.ml.functions import vector_to_array
import math
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
seed=99

In [5]:
#Create a Spark session
spark = SparkSession.builder.appName("SuperstoreAnalysis").getOrCreate()
spark.conf.set("spark.sql.legacy.timeParserPolicy", "LEGACY")#Set legacy date parser due to issues with date format in new version

In [7]:
#Read CSV data
superstore_data_path = '/content/drive/My Drive/Colab Notebooks/BDA_Project/superstore_data.csv' #File path
superstore_df = spark.read.csv(superstore_data_path, header=True, inferSchema=True)
superstore_df.show()

+-----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+--------+--------+
|   Id|Year_Birth| Education|Marital_Status|Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProds|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|Response|Complain|
+-----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+--------+--------+
| 1826|      1970|Graduation|      Divorced| 84835|      0|       0|  6/16/2014|      0|     189|      104|            379|            111|             189|         218|                1|              4|                  4|                6|                1|       1|       0|
|    1|      1961|Graduation|        Single| 57091|      0|       0|  6/15/2014|      0|     464|        5|             64|              7|               0|          37|                1|              7|                  3|                7|                5|       1|       0|
|10476|      1958|Graduation|       Married| 67267|      0|       1|  5/13/2014|      0|     134|       11|             59|             15|               2|          30|                1|              3|                  2|                5|                2|       0|       0|
| 1386|      1967|Graduation|      Together| 32474|      1|       1|  11/5/2014|      0|      10|        0|              1|              0|               0|           0|                1|              1|                  0|                2|                7|       0|       0|
| 5371|      1989|Graduation|        Single| 21474|      1|       0|   8/4/2014|      0|       6|       16|             24|             11|               0|          34|                2|              3|                  1|                2|                7|       1|       0|
| 7348|      1958|       PhD|        Single| 71691|      0|       0|  3/17/2014|      0|     336|      130|            411|            240|              32|          43|                1|              4|                  7|                5|                2|       1|       0|
| 4073|      1954|  2n Cycle|       Married| 63564|      0|       0|  1/29/2014|      0|     769|       80|            252|             15|              34|          65|                1|             10|                 10|                7|                6|       1|       0|
| 1991|      1967|Graduation|      Together| 44931|      0|       1|  1/18/2014|      0|      78|        0|             11|              0|               0|           7|                1|              2|                  1|                3|                5|       0|       0|
| 4047|      1954|       PhD|       Married| 65324|      0|       1|  11/1/2014|      0|     384|        0|            102|             21|              32|           5|                3|              6|                  2|                9|                4|       0|       0|
| 9477|      1954|       PhD|       Married| 65324|      0|       1|  11/1/2014|      0|     384|        0|            102|             21|              32|           5|                3|              6|                  2|                9|                4|       0|       0|
| 2079|      1947|  2n Cycle|       Married| 81044|      0|       0| 12/27/2013|      0|     450|       26|            535|             73|              98|          26|                1|              5|                  6|               10|                1|       0|       0|
| 5642|      1979|    Master|      Together| 62499|      1|       0|  9/12/2013|      0|     140|        4|             61|              0|              13|           4|                2|              3|                  1|                6|                4|       0|       0|
|10530|      1959|       PhD|         Widow| 67786|      0|       0|  7/12/2013|      0|     431|       82|            441|             80|              20|         102|                1|              3|                  6|                6|                1|       1|       0|
| 2964|      1981|Graduation|       Married| 26872|      0|       0| 10/16/2013|      0|       3|       10|              8|              3|              16|          32|                1|              1|                  1|                2|                6|       0|       0|
|10311|      1969|Graduation|       Married|  4428|      0|       1|  5/10/2013|      0|      16|        4|             12|              2|               4|         321|                0|             25|                  0|                0|                1|       0|       0|
|  837|      1977|Graduation|       Married| 54809|      1|       1|  11/9/2013|      0|      63|        6|             57|             13|              13|          22|                4|              2|                  1|                5|                4|       0|       0|
|10521|      1977|Graduation|       Married| 54809|      1|       1|  11/9/2013|      0|      63|        6|             57|             13|              13|          22|                4|              2|                  1|                5|                4|       1|       0|
|10175|      1958|       PhD|      Divorced| 32173|      0|       1|   1/8/2013|      0|      18|        0|              2|              0|               0|           2|                1|              1|                  0|                3|                4|       0|       0|
| 1473|      1960|  2n Cycle|        Single| 47823|      0|       1|  7/23/2013|      0|      53|        1|              5|              2|               1|          10|                2|              2|                  0|                3|                8|       0|       0|
| 2795|      1958|    Master|        Single| 30523|      2|       1|   1/7/2013|      0|       5|        0|              3|              0|               0|           5|                1|              1|                  0|                2|                7|       0|       0|
+-----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+--------+--------+
only showing top 20 rows

### Data Preprocessing

In [8]:
#Check the schema
superstore_df.printSchema()

root
 |-- Id: integer (nullable = true)
 |-- Year_Birth: integer (nullable = true)
 |-- Education: string (nullable = true)
 |-- Marital_Status: string (nullable = true)
 |-- Income: integer (nullable = true)
 |-- Kidhome: integer (nullable = true)
 |-- Teenhome: integer (nullable = true)
 |-- Dt_Customer: string (nullable = true)
 |-- Recency: integer (nullable = true)
 |-- MntWines: integer (nullable = true)
 |-- MntFruits: integer (nullable = true)
 |-- MntMeatProducts: integer (nullable = true)
 |-- MntFishProducts: integer (nullable = true)
 |-- MntSweetProducts: integer (nullable = true)
 |-- MntGoldProds: integer (nullable = true)
 |-- NumDealsPurchases: integer (nullable = true)
 |-- NumWebPurchases: integer (nullable = true)
 |-- NumCatalogPurchases: integer (nullable = true)
 |-- NumStorePurchases: integer (nullable = true)
 |-- NumWebVisitsMonth: integer (nullable = true)
 |-- Response: integer (nullable = true)
 |-- Complain: integer (nullable = true)

In [9]:
#Convert the two date fields to date format and check schema again
superstore_df = superstore_df.withColumn('Year_Birth', F.to_date(superstore_df['Year_Birth']))
superstore_df = superstore_df.withColumn('Dt_Customer', F.to_date(superstore_df['Dt_Customer'], 'MM/dd/yyyy'))
superstore_df.printSchema()
superstore_df.show()

root
 |-- Id: integer (nullable = true)
 |-- Year_Birth: date (nullable = true)
 |-- Education: string (nullable = true)
 |-- Marital_Status: string (nullable = true)
 |-- Income: integer (nullable = true)
 |-- Kidhome: integer (nullable = true)
 |-- Teenhome: integer (nullable = true)
 |-- Dt_Customer: date (nullable = true)
 |-- Recency: integer (nullable = true)
 |-- MntWines: integer (nullable = true)
 |-- MntFruits: integer (nullable = true)
 |-- MntMeatProducts: integer (nullable = true)
 |-- MntFishProducts: integer (nullable = true)
 |-- MntSweetProducts: integer (nullable = true)
 |-- MntGoldProds: integer (nullable = true)
 |-- NumDealsPurchases: integer (nullable = true)
 |-- NumWebPurchases: integer (nullable = true)
 |-- NumCatalogPurchases: integer (nullable = true)
 |-- NumStorePurchases: integer (nullable = true)
 |-- NumWebVisitsMonth: integer (nullable = true)
 |-- Response: integer (nullable = true)
 |-- Complain: integer (nullable = true)

+-----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+--------+--------+
|   Id|Year_Birth| Education|Marital_Status|Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProds|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|Response|Complain|
+-----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+--------+--------+
| 1826|1970-01-01|Graduation|      Divorced| 84835|      0|       0| 2014-06-16|      0|     189|      104|            379|            111|             189|         218|                1|              4|                  4|                6|                1|       1|       0|
|    1|1961-01-01|Graduation|        Single| 57091|      0|       0| 2014-06-15|      0|     464|        5|             64|              7|               0|          37|                1|              7|                  3|                7|                5|       1|       0|
|10476|1958-01-01|Graduation|       Married| 67267|      0|       1| 2014-05-13|      0|     134|       11|             59|             15|               2|          30|                1|              3|                  2|                5|                2|       0|       0|
| 1386|1967-01-01|Graduation|      Together| 32474|      1|       1| 2014-11-05|      0|      10|        0|              1|              0|               0|           0|                1|              1|                  0|                2|                7|       0|       0|
| 5371|1989-01-01|Graduation|        Single| 21474|      1|       0| 2014-08-04|      0|       6|       16|             24|             11|               0|          34|                2|              3|                  1|                2|                7|       1|       0|
| 7348|1958-01-01|       PhD|        Single| 71691|      0|       0| 2014-03-17|      0|     336|      130|            411|            240|              32|          43|                1|              4|                  7|                5|                2|       1|       0|
| 4073|1954-01-01|  2n Cycle|       Married| 63564|      0|       0| 2014-01-29|      0|     769|       80|            252|             15|              34|          65|                1|             10|                 10|                7|                6|       1|       0|
| 1991|1967-01-01|Graduation|      Together| 44931|      0|       1| 2014-01-18|      0|      78|        0|             11|              0|               0|           7|                1|              2|                  1|                3|                5|       0|       0|
| 4047|1954-01-01|       PhD|       Married| 65324|      0|       1| 2014-11-01|      0|     384|        0|            102|             21|              32|           5|                3|              6|                  2|                9|                4|       0|       0|
| 9477|1954-01-01|       PhD|       Married| 65324|      0|       1| 2014-11-01|      0|     384|        0|            102|             21|              32|           5|                3|              6|                  2|                9|                4|       0|       0|
| 2079|1947-01-01|  2n Cycle|       Married| 81044|      0|       0| 2013-12-27|      0|     450|       26|            535|             73|              98|          26|                1|              5|                  6|               10|                1|       0|       0|
| 5642|1979-01-01|    Master|      Together| 62499|      1|       0| 2013-09-12|      0|     140|        4|             61|              0|              13|           4|                2|              3|                  1|                6|                4|       0|       0|
|10530|1959-01-01|       PhD|         Widow| 67786|      0|       0| 2013-07-12|      0|     431|       82|            441|             80|              20|         102|                1|              3|                  6|                6|                1|       1|       0|
| 2964|1981-01-01|Graduation|       Married| 26872|      0|       0| 2013-10-16|      0|       3|       10|              8|              3|              16|          32|                1|              1|                  1|                2|                6|       0|       0|
|10311|1969-01-01|Graduation|       Married|  4428|      0|       1| 2013-05-10|      0|      16|        4|             12|              2|               4|         321|                0|             25|                  0|                0|                1|       0|       0|
|  837|1977-01-01|Graduation|       Married| 54809|      1|       1| 2013-11-09|      0|      63|        6|             57|             13|              13|          22|                4|              2|                  1|                5|                4|       0|       0|
|10521|1977-01-01|Graduation|       Married| 54809|      1|       1| 2013-11-09|      0|      63|        6|             57|             13|              13|          22|                4|              2|                  1|                5|                4|       1|       0|
|10175|1958-01-01|       PhD|      Divorced| 32173|      0|       1| 2013-01-08|      0|      18|        0|              2|              0|               0|           2|                1|              1|                  0|                3|                4|       0|       0|
| 1473|1960-01-01|  2n Cycle|        Single| 47823|      0|       1| 2013-07-23|      0|      53|        1|              5|              2|               1|          10|                2|              2|                  0|                3|                8|       0|       0|
| 2795|1958-01-01|    Master|        Single| 30523|      2|       1| 2013-01-07|      0|       5|        0|              3|              0|               0|           5|                1|              1|                  0|                2|                7|       0|       0|
+-----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+--------+--------+
only showing top 20 rows

In [10]:
#Checking for missing values

# Count the number of null values in each column
null_counts = superstore_df.select(
    *[sum(col(c).isNull().cast("int")).alias(c) for c in superstore_df.columns]
)
null_counts.show()

+---+----------+---------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+--------+--------+
| Id|Year_Birth|Education|Marital_Status|Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProds|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|Response|Complain|
+---+----------+---------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+--------+--------+
|  0|         0|        0|             0|    24|      0|       0|          0|      0|       0|        0|              0|              0|               0|           0|                0|              0|                  0|                0|                0|       0|       0|
+---+----------+---------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+--------+--------+

From the above output we can see that only income has 24 missing values. We can impute these missing values using median of income for their respective education level

In [11]:
#Fill missing income values based on median income for their respective education level

#Compute the median income by education level
education_window = Window().partitionBy('Education')
superstore_df = superstore_df.withColumn('MedianIncome', F.expr('percentile_approx(Income, 0.5)').over(education_window))

# Update missing income values
superstore_df = superstore_df.withColumn('Income', F.when(superstore_df['Income'].isNull(), superstore_df['MedianIncome']).otherwise(superstore_df['Income']))

# Drop the temporary column used for computation
superstore_df = superstore_df.drop('MedianIncome')

# Show the updated DataFrame
superstore_df.show()

+-----+----------+---------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+--------+--------+
|   Id|Year_Birth|Education|Marital_Status|Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProds|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|Response|Complain|
+-----+----------+---------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+--------+--------+
| 4073|1954-01-01| 2n Cycle|       Married| 63564|      0|       0| 2014-01-29|      0|     769|       80|            252|             15|              34|          65|                1|             10|                 10|                7|                6|       1|       0|
| 2079|1947-01-01| 2n Cycle|       Married| 81044|      0|       0| 2013-12-27|      0|     450|       26|            535|             73|              98|          26|                1|              5|                  6|               10|                1|       0|       0|
| 1473|1960-01-01| 2n Cycle|        Single| 47823|      0|       1| 2013-07-23|      0|      53|        1|              5|              2|               1|          10|                2|              2|                  0|                3|                8|       0|       0|
| 2681|1984-01-01| 2n Cycle|       Married| 65370|      0|       0| 2013-01-08|      1|      71|       22|            112|            138|              89|          29|                1|              2|                  3|               13|                1|       0|       0|
| 1524|1983-01-01| 2n Cycle|        Single| 81698|      0|       0| 2013-01-03|      1|     709|       45|            115|             30|             160|          45|                1|              8|                  2|                5|                5|       1|       0|
| 5740|1970-01-01| 2n Cycle|      Divorced| 25959|      1|       1| 2013-02-14|      1|       4|        2|             12|              7|               5|          26|                2|              1|                  2|                2|                6|       1|       0|
| 1241|1984-01-01| 2n Cycle|       Married| 14796|      1|       0| 2012-09-17|      1|      13|        3|              8|              7|               4|          16|                2|              1|                  0|                3|                9|       1|       0|
| 7264|1978-01-01| 2n Cycle|        Single| 52195|      2|       1| 2014-12-05|      2|      12|        0|              4|              0|               0|           1|                1|              1|                  0|                2|                8|       0|       0|
| 5332|1960-01-01| 2n Cycle|       Married| 82504|      0|       0| 2013-07-27|      2|     362|       50|            431|            134|              35|          54|                1|              3|                  6|                7|                1|       0|       0|
| 5341|1962-01-01| 2n Cycle|      Divorced| 81975|      0|       1| 2013-05-01|      2|     983|       76|            184|            180|             138|          27|                1|              6|                  3|                4|                7|       0|       0|
| 3878|1980-01-01| 2n Cycle|        Single| 31859|      1|       0| 2014-02-27|      3|       3|        4|              7|             15|               8|          11|                1|              1|                  0|                3|                7|       0|       0|
| 9612|1987-01-01| 2n Cycle|        Single| 23830|      0|       0| 2014-07-02|      3|       1|        8|              6|              4|               8|          16|                1|              1|                  0|                3|                7|       0|       0|
| 6815|1980-01-01| 2n Cycle|       Married| 96547|      0|       0| 2014-05-23|      4|     448|       21|            125|             52|             101|          62|                0|              7|                  6|                8|                2|       1|       0|
| 6365|1987-01-01| 2n Cycle|       Married| 30390|      0|       0| 2013-02-09|      5|      10|       12|             12|             25|               1|          20|                1|              2|                  0|                3|                6|       0|       0|
| 1031|1989-01-01| 2n Cycle|       Married| 85710|      0|       0| 2013-05-05|      5|     600|       20|            350|             29|              30|          33|                1|              6|                  9|               10|                2|       0|       0|
| 7342|1961-01-01| 2n Cycle|         Widow| 59184|      0|       1| 2012-09-09|      6|     341|      142|            113|            259|             151|          66|                3|              6|                  6|               12|                5|       0|       0|
| 2546|1977-01-01| 2n Cycle|        Single| 31878|      0|       1| 2014-06-22|      7|      23|        4|              5|             10|               5|          23|                1|              1|                  0|                4|                3|       0|       0|
|10659|1979-01-01| 2n Cycle|      Together|  7500|      1|       0| 2013-07-05|      7|       2|        8|             11|              3|               8|          21|                4|              3|                  2|                2|                7|       0|       0|
|10270|1981-01-01| 2n Cycle|       Married| 35523|      1|       0| 2013-03-10|      8|      11|        5|             22|             12|               5|          11|                2|              3|                  0|                3|                7|       0|       0|
|10995|1988-01-01| 2n Cycle|       Married| 15716|      1|       0| 2012-12-11|      8|      16|        5|             30|              8|               7|          26|                3|              3|                  0|                4|                8|       0|       1|
+-----+----------+---------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+--------+--------+
only showing top 20 rows

In [12]:
#Explore the two categorical variables Marital_Status and Education level
superstore_df.groupBy('Marital_Status').count().show()
superstore_df.groupBy('Education').count().show()

+--------------+-----+
|Marital_Status|count|
+--------------+-----+
|          YOLO|    2|
|      Together|  580|
|       Married|  864|
|        Absurd|    2|
|         Widow|   77|
|      Divorced|  232|
|         Alone|    3|
|        Single|  480|
+--------------+-----+

+----------+-----+
| Education|count|
+----------+-----+
|  2n Cycle|  203|
|       PhD|  486|
|    Master|  370|
|Graduation| 1127|
|     Basic|   54|
+----------+-----+

We can see two categories which dont make sense in Maritial Status - Yolo and Absurd. Since these contain a total of only 4 rows we can go ahead and drop them. Also we can combine the category Alone with single

In [13]:
#Drop rows where 'Marital_Status' is 'YOLO' or 'Absurd'
superstore_df = superstore_df.filter(~superstore_df['Marital_Status'].isin(['YOLO', 'Absurd']))
#Convert 'Alone' to 'Single'
superstore_df = superstore_df.withColumn('Marital_Status', F.when(superstore_df['Marital_Status'] == 'Alone', 'Single').otherwise(superstore_df['Marital_Status']))
superstore_df.groupBy('Marital_Status').count().show()

+--------------+-----+
|Marital_Status|count|
+--------------+-----+
|      Together|  580|
|       Married|  864|
|         Widow|   77|
|      Divorced|  232|
|        Single|  483|
+--------------+-----+

The two date columns indicate the customers date of birth and when the customer became a member of the store. We can convert this to age and years a customer has been a memeber by subtracting the current data from the respective dates. Since the exact date the data was collected is not mentioned, looking at the dates in the data we can assume this data was collected around 2015 and we will use that as the curent date.

In [14]:
#Get the age and number of days the custoemr has been a memeber

current_date = F.to_date(F.lit('1/1/2015'), 'MM/dd/yyyy')#Set current date to 2015

# Calculate the number of days the customer has been a memeber
superstore_df = superstore_df.withColumn('Customer_Days', F.datediff(current_date, 'Dt_Customer'))

# Calculate the age of the customer
superstore_df=superstore_df.withColumn('Customer_Age', F.year(current_date) - F.year('Year_Birth'))

superstore_df.show()

+-----+----------+---------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+--------+--------+-------------+------------+
|   Id|Year_Birth|Education|Marital_Status|Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProds|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|Response|Complain|Customer_Days|Customer_Age|
+-----+----------+---------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+--------+--------+-------------+------------+
| 4073|1954-01-01| 2n Cycle|       Married| 63564|      0|       0| 2014-01-29|      0|     769|       80|            252|             15|              34|          65|                1|             10|                 10|                7|                6|       1|       0|          337|          61|
| 2079|1947-01-01| 2n Cycle|       Married| 81044|      0|       0| 2013-12-27|      0|     450|       26|            535|             73|              98|          26|                1|              5|                  6|               10|                1|       0|       0|          370|          68|
| 1473|1960-01-01| 2n Cycle|        Single| 47823|      0|       1| 2013-07-23|      0|      53|        1|              5|              2|               1|          10|                2|              2|                  0|                3|                8|       0|       0|          527|          55|
| 2681|1984-01-01| 2n Cycle|       Married| 65370|      0|       0| 2013-01-08|      1|      71|       22|            112|            138|              89|          29|                1|              2|                  3|               13|                1|       0|       0|          723|          31|
| 1524|1983-01-01| 2n Cycle|        Single| 81698|      0|       0| 2013-01-03|      1|     709|       45|            115|             30|             160|          45|                1|              8|                  2|                5|                5|       1|       0|          728|          32|
| 5740|1970-01-01| 2n Cycle|      Divorced| 25959|      1|       1| 2013-02-14|      1|       4|        2|             12|              7|               5|          26|                2|              1|                  2|                2|                6|       1|       0|          686|          45|
| 1241|1984-01-01| 2n Cycle|       Married| 14796|      1|       0| 2012-09-17|      1|      13|        3|              8|              7|               4|          16|                2|              1|                  0|                3|                9|       1|       0|          836|          31|
| 7264|1978-01-01| 2n Cycle|        Single| 52195|      2|       1| 2014-12-05|      2|      12|        0|              4|              0|               0|           1|                1|              1|                  0|                2|                8|       0|       0|           27|          37|
| 5332|1960-01-01| 2n Cycle|       Married| 82504|      0|       0| 2013-07-27|      2|     362|       50|            431|            134|              35|          54|                1|              3|                  6|                7|                1|       0|       0|          523|          55|
| 5341|1962-01-01| 2n Cycle|      Divorced| 81975|      0|       1| 2013-05-01|      2|     983|       76|            184|            180|             138|          27|                1|              6|                  3|                4|                7|       0|       0|          610|          53|
| 3878|1980-01-01| 2n Cycle|        Single| 31859|      1|       0| 2014-02-27|      3|       3|        4|              7|             15|               8|          11|                1|              1|                  0|                3|                7|       0|       0|          308|          35|
| 9612|1987-01-01| 2n Cycle|        Single| 23830|      0|       0| 2014-07-02|      3|       1|        8|              6|              4|               8|          16|                1|              1|                  0|                3|                7|       0|       0|          183|          28|
| 6815|1980-01-01| 2n Cycle|       Married| 96547|      0|       0| 2014-05-23|      4|     448|       21|            125|             52|             101|          62|                0|              7|                  6|                8|                2|       1|       0|          223|          35|
| 6365|1987-01-01| 2n Cycle|       Married| 30390|      0|       0| 2013-02-09|      5|      10|       12|             12|             25|               1|          20|                1|              2|                  0|                3|                6|       0|       0|          691|          28|
| 1031|1989-01-01| 2n Cycle|       Married| 85710|      0|       0| 2013-05-05|      5|     600|       20|            350|             29|              30|          33|                1|              6|                  9|               10|                2|       0|       0|          606|          26|
| 7342|1961-01-01| 2n Cycle|         Widow| 59184|      0|       1| 2012-09-09|      6|     341|      142|            113|            259|             151|          66|                3|              6|                  6|               12|                5|       0|       0|          844|          54|
| 2546|1977-01-01| 2n Cycle|        Single| 31878|      0|       1| 2014-06-22|      7|      23|        4|              5|             10|               5|          23|                1|              1|                  0|                4|                3|       0|       0|          193|          38|
|10659|1979-01-01| 2n Cycle|      Together|  7500|      1|       0| 2013-07-05|      7|       2|        8|             11|              3|               8|          21|                4|              3|                  2|                2|                7|       0|       0|          545|          36|
|10270|1981-01-01| 2n Cycle|       Married| 35523|      1|       0| 2013-03-10|      8|      11|        5|             22|             12|               5|          11|                2|              3|                  0|                3|                7|       0|       0|          662|          34|
|10995|1988-01-01| 2n Cycle|       Married| 15716|      1|       0| 2012-12-11|      8|      16|        5|             30|              8|               7|          26|                3|              3|                  0|                4|                8|       0|       1|          751|          27|
+-----+----------+---------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+--------+--------+-------------+------------+
only showing top 20 rows

In [15]:
 #Drop the columns which are not required
 superstore_df = superstore_df.drop(*["Year_Birth", "Id", "Dt_Customer"])
 superstore_df.show()

+---------+--------------+------+-------+--------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+--------+--------+-------------+------------+
|Education|Marital_Status|Income|Kidhome|Teenhome|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProds|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|Response|Complain|Customer_Days|Customer_Age|
+---------+--------------+------+-------+--------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+--------+--------+-------------+------------+
| 2n Cycle|       Married| 63564|      0|       0|      0|     769|       80|            252|             15|              34|          65|                1|             10|                 10|                7|                6|       1|       0|          337|          61|
| 2n Cycle|       Married| 81044|      0|       0|      0|     450|       26|            535|             73|              98|          26|                1|              5|                  6|               10|                1|       0|       0|          370|          68|
| 2n Cycle|        Single| 47823|      0|       1|      0|      53|        1|              5|              2|               1|          10|                2|              2|                  0|                3|                8|       0|       0|          527|          55|
| 2n Cycle|       Married| 65370|      0|       0|      1|      71|       22|            112|            138|              89|          29|                1|              2|                  3|               13|                1|       0|       0|          723|          31|
| 2n Cycle|        Single| 81698|      0|       0|      1|     709|       45|            115|             30|             160|          45|                1|              8|                  2|                5|                5|       1|       0|          728|          32|
| 2n Cycle|      Divorced| 25959|      1|       1|      1|       4|        2|             12|              7|               5|          26|                2|              1|                  2|                2|                6|       1|       0|          686|          45|
| 2n Cycle|       Married| 14796|      1|       0|      1|      13|        3|              8|              7|               4|          16|                2|              1|                  0|                3|                9|       1|       0|          836|          31|
| 2n Cycle|        Single| 52195|      2|       1|      2|      12|        0|              4|              0|               0|           1|                1|              1|                  0|                2|                8|       0|       0|           27|          37|
| 2n Cycle|       Married| 82504|      0|       0|      2|     362|       50|            431|            134|              35|          54|                1|              3|                  6|                7|                1|       0|       0|          523|          55|
| 2n Cycle|      Divorced| 81975|      0|       1|      2|     983|       76|            184|            180|             138|          27|                1|              6|                  3|                4|                7|       0|       0|          610|          53|
| 2n Cycle|        Single| 31859|      1|       0|      3|       3|        4|              7|             15|               8|          11|                1|              1|                  0|                3|                7|       0|       0|          308|          35|
| 2n Cycle|        Single| 23830|      0|       0|      3|       1|        8|              6|              4|               8|          16|                1|              1|                  0|                3|                7|       0|       0|          183|          28|
| 2n Cycle|       Married| 96547|      0|       0|      4|     448|       21|            125|             52|             101|          62|                0|              7|                  6|                8|                2|       1|       0|          223|          35|
| 2n Cycle|       Married| 30390|      0|       0|      5|      10|       12|             12|             25|               1|          20|                1|              2|                  0|                3|                6|       0|       0|          691|          28|
| 2n Cycle|       Married| 85710|      0|       0|      5|     600|       20|            350|             29|              30|          33|                1|              6|                  9|               10|                2|       0|       0|          606|          26|
| 2n Cycle|         Widow| 59184|      0|       1|      6|     341|      142|            113|            259|             151|          66|                3|              6|                  6|               12|                5|       0|       0|          844|          54|
| 2n Cycle|        Single| 31878|      0|       1|      7|      23|        4|              5|             10|               5|          23|                1|              1|                  0|                4|                3|       0|       0|          193|          38|
| 2n Cycle|      Together|  7500|      1|       0|      7|       2|        8|             11|              3|               8|          21|                4|              3|                  2|                2|                7|       0|       0|          545|          36|
| 2n Cycle|       Married| 35523|      1|       0|      8|      11|        5|             22|             12|               5|          11|                2|              3|                  0|                3|                7|       0|       0|          662|          34|
| 2n Cycle|       Married| 15716|      1|       0|      8|      16|        5|             30|              8|               7|          26|                3|              3|                  0|                4|                8|       0|       1|          751|          27|
+---------+--------------+------+-------+--------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+--------+--------+-------------+------------+
only showing top 20 rows